

<div class="row">
    <h2>Einstellungen</h2>
    @*@using (Html.BeginForm("Home", "POST_GoEuroApiCall", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
    <form name="SearchForm" method="post" id="SearchForm" action="/Home/POST_GoEuroApiCall">
        <p>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="startort">Startort:</label>
                    <input type="text" required class="form-control" data-journeyid="" name="I_startort" id="startort" placeholder="Suche nach Startort ...">
                </div>

                <div class="form-group">
                    <label for="startzeitpunkt">Startzeitpunkt:</label>
                    <input required name="I_startzeitpunkt" type="text" class="form-control" id="startzeitpunkt" placeholder="Startzeitpunkt ...">
                </div>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button type="button" id="btn_change_city" class="btn btn-default"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="zielort">Zielort:</label>
                    <input name="I_zielort" type="text" class="form-control" id="zielort" data-journeyid="" placeholder="Suche nach Zielort ...">
                </div>
                <div class="form-group">
                    <label for="endzeitpunkt">Endzeitpunkt:</label>
                    <input name="I_endzeitpunkt" type="text" class="form-control" id="endzeitpunkt" placeholder="Endzeitpunkt ...">
                </div>
            </div>
            <div class="clearfix" />
            <br>
            <div class="clearfix" />
            <div class="col-md-12">
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlyMonday">Nur Montag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlyTuesday">Nur Dienstag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlyWednesday">Nur Mittwoch</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlyThursday">Nur Donnerstag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlyFriday">Nur Freitag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlySaturday">Nur Samstag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="onlySunday">Nur Sonntag</label>
                <label class="radio-inline"><input type="radio" name="I_checkBox" value="all">Alle Tage</label>
            </div>
            <br>
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-success" type="submit" id="startSearch">GO!!!</button>
            </div>
            <br>
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        0%
                    </div>
                </div>
            </div>

        </p>


        </p>
    </form>
    @* } *@

</div>

<hr />

<div class="row">
    <div class="clearfix" />
    <table id="datatables_grid" class="table-striped" style="width:100%" />
    <div class="clearfix" />
</div>


<div class="row">
    <h2>Sonstiges</h2>
    <p>
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="sonstigeTabs">
                <li role="presentation" class="active"><a href="#logging">Logging</a></li>
                <li role="presentation"><a href="#">...</a></li>
                <li role="presentation"><a href="#">...</a></li>
            </ul>

            <div class="tab-content">
                <div id="logging" class="tab-pane fade in active">
                    <div class="form-group" style="max-width: 100%;min-width: 100%">
                        <label for="comment">Comment:</label>
                        <textarea id="logger" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </p>
</div>

@*MOdlas*@

<div id="segments" class="modal fade">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Segments</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        window.modalView = new Array();


        window.onerror = function (messageOrEvent, source, lineno, colno, error) {
            console.log(messageOrEvent);
            console.log(source);
            console.log(lineno);
            console.log(colno);
            console.log(error);

        };

        $(function () {

            try {

                $('#sonstigeTabs a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                });

                $('#btn_change_city').click(function (e) {

                    var tempStart = $("#startort").val();
                    var tempZiel = $("#zielort").val();

                    var a = $("#startort").data("journeyid"),
                     b = $("#zielort").data("journeyid");

                    $("#zielort").val(tempStart);
                    $("#startort").val(tempZiel);

                    $("#startort").data("journeyid", b);
                    $("#zielort").data("journeyid", a);

                });



                ////////////////
                //// ORTE /////
                ///////////////

                //http://www.goeuro.com/suggester-api/v2/position/suggest/de/be


                $("#startort, #zielort").autocomplete({
                    source: function (request, response) {
                        $.get("https://www.goeuro.com/suggester-api/v2/position/suggest/de/" + request.term, function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.fullName,
                                    value: item._id
                                }
                            }));
                        });

                    },
                    select: function (event, ui) {
                        //var terms = this.value;
                        var self = this;

                        //this.value = ui.item.label;

                        $(self).data("journeyid", ui.item.value);
                        $(self).val(ui.item.label);
                        return false;
                    }
                });


                ////////////////
                //// DATE /////
                ///////////////

                $("#endzeitpunkt").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "dd.mm.yy"
                });

                $("#startzeitpunkt").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "dd.mm.yy"
                });
                /////////////////////
                //// LOAD JSON /////
                /////////////////////

                $('#startSearch').click(function (e) {
                    e.preventDefault();

                    var table = $('#datatables_grid').dataTable().api();
                    var box = $('#logger');

                    //$('#startort').val()
                    //$('#zielort').val()

                    //Nach der Suchanfrage setze die Titleleiste des Browser
                    document.title = $('#startort').val() + " -> " + $('#zielort').val();

                    var a = $("#startort").data("journeyid"),
                        b = $("#zielort").data("journeyid"),
                        c = $('#startzeitpunkt').val(),
                        d = $('#endzeitpunkt').val(),
                        e = $("input[name='I_checkBox']").serialize(),

                     formData = 'I_startort=' + a + '&I_zielort=' + b + '&I_startzeitpunkt=' + c + '&I_endzeitpunkt=' + d + '&' + e;


                    $.ajax({
                        type: 'post',
                        url: '/Home/POST_GoEuroApiCall',
                        data: formData,//$("form").serialize(),
                        success: function (searchIds) {

                            function macheProgressbar(wert) {
                                $("#progressbar").css('width', wert + '%').attr('aria-valuenow', wert);
                                $("#progressbar").text(wert + "%");
                            }

                            //die ersten 25% erreicht;
                            macheProgressbar(25);
                            box.text(box.text() + "# Die ersten 25% erreicht" + "\n");

                            //global zuweisen.
                            window.data = JSON.parse(searchIds);
                            var goEuroRestApiCounter = 0;
                            var baseURL = 'https://www.goeuro.com/GoEuroAPI/rest/api/v5/results?search_id=';
                            var filterURL = '';

                            $.ajax({
                                'url': baseURL + +window.data.Search_Ids[0].searchId + filterURL,
                                'type': 'GET',
                                //The response from the server
                                'success': function (firstBlood) {

                                    window.extraPostsToGoEuro = new Array();

                                    goEuroRestApiCounter++;
                                    macheProgressbar(25 + (goEuroRestApiCounter * 75 / window.data.Search_Ids.length));

                                    box.text(box.text() + "# 1. Antwort(von " + window.data.Search_Ids.length + ") von der Ursprungsseite empfangen =" + window.data.Search_Ids[0].searchId + "\n");

                                    firstBlood.Id = 0; //damit ich den Datensatz später eindeutig zuordnen kann
                                    window.extraPostsToGoEuro.push(firstBlood);
                                    //Aufruf: Start !!!
                                    recur_loop(1);

                                },
                                'error': function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.error(errorThrown);
                                    box.text(box.text() + "[Fehler] - \"FirstBlood\"-Anfrage gescheitert !!!" + "\n");

                                }
                            });

                            var recur_loop = function (i) {
                                var num = i || 0; // uses i if it's set, otherwise uses 0

                                if (num < window.data.Search_Ids.length) {

                                    $.ajax({
                                        'url': baseURL + window.data.Search_Ids[num].searchId + filterURL,
                                        'type': 'GET',
                                        //The response from the server
                                        'success': function (unstopable) {


                                            box.text(box.text() + "# " + num + ". Antwort(von " + window.data.Search_Ids.length + ") von der Ursprungsseite empfangen =" + window.data.Search_Ids[num].searchId + "\n");


                                            //75%  = 100%
                                            // window.data.Search_Ids.length = 100%
                                            //der Wert vom ersten successcallback ist schon raufgerechnet
                                            goEuroRestApiCounter++;
                                            var tempProzentwert = 25 + (goEuroRestApiCounter * 75 / window.data.Search_Ids.length);
                                            macheProgressbar(tempProzentwert);

                                            box.text(box.text() + "# Loading " + tempProzentwert + "%." + "\n");
                                            unstopable.Id = num; //damit ich den Datensatz später eindeutig zuordnen kann

                                            window.extraPostsToGoEuro.push(unstopable);

                                            recur_loop(num + 1);

                                        },
                                        'error': function (XMLHttpRequest, textStatus, errorThrown) {
                                            console.error(errorThrown);
                                            box.text(box.text() + "[Fehler] - \"Unstopable\"-  Anfrage(n) gescheitert. " + "\n");
                                        }
                                    });


                                } else {
                                    box.text(box.text() + "# Rekursive Funktion fertig. " + "\n");

                                    /////////////////////
                                    //// DATATABLES /////
                                    /////////////////////

                                    box.text(box.text() + "# Beginne die Daten der Datatable zu formatieren. " + "\n");

                                    var dataSet = [];

                                    for (var i = 0; i < window.extraPostsToGoEuro.length; i++) {

                                        for (var key in window.extraPostsToGoEuro[i].outbounds) {

                                            if (window.extraPostsToGoEuro[i].outbounds.hasOwnProperty(key)) {

                                                console.log(key + " -> " + window.extraPostsToGoEuro[i].outbounds[key]);


                                                var tempDatensatz = [];

                                                var companyId = window.extraPostsToGoEuro[i].outbounds[key].companyId;
                                                var tempCompanyHtml = "";

                                                if (companyId) {
                                                    var tempCompany = window.extraPostsToGoEuro[i].companies[companyId];
                                                    tempCompanyHtml = "<img alt='" + tempCompany.name + "' src='" + tempCompany.logoUrl.replace("{size}", 42) + "' height='20' />";
                                                }

                                                tempDatensatz.push(companyId ? tempCompanyHtml : "");

                                                var mode = window.extraPostsToGoEuro[i].outbounds[key].mode;
                                                tempDatensatz.push(mode ? mode : "");

                                                var duration = window.extraPostsToGoEuro[i].outbounds[key].duration;
                                                tempDatensatz.push(duration ? "~ " + Math.round(duration / 60) + " h" : "");

                                                var outboundId = window.extraPostsToGoEuro[i].outbounds[key].outboundId;
                                                tempDatensatz.push(outboundId ? outboundId : "");

                                                var journeyId = window.extraPostsToGoEuro[i].outbounds[key].journeyId;
                                                tempDatensatz.push(journeyId ? journeyId : "");

                                                var departureTime = window.extraPostsToGoEuro[i].outbounds[key].departureTime;
                                                tempDatensatz.push(departureTime ? new Date(departureTime).toLocaleString() + " Uhr" : "");

                                                var arrivalTime = window.extraPostsToGoEuro[i].outbounds[key].arrivalTime;
                                                tempDatensatz.push(arrivalTime ? new Date(arrivalTime).toLocaleString() + " Uhr" : "");

                                                var stops = window.extraPostsToGoEuro[i].outbounds[key].stops;
                                                tempDatensatz.push(stops ? stops : "");

                                                var price = window.extraPostsToGoEuro[i].outbounds[key].price;
                                                tempDatensatz.push(price ? price / 100 + " " + window.extraPostsToGoEuro[i].currencies.EUR.symbol : "");

                                                var updatedAt = window.extraPostsToGoEuro[i].outbounds[key].updatedAt;
                                                tempDatensatz.push(updatedAt ? updatedAt : "");

                                                var mySegments = window.extraPostsToGoEuro[i].outbounds[key].segments;
                                                var segmentsHtml = "";

                                                if (mySegments.length > 0) {

                                                    for (var s = 0; s < mySegments.length; s++) {


                                                        var tempSegmentNumber = mySegments[s];
                                                        var tempSegment = window.extraPostsToGoEuro[i].segmentDetails[tempSegmentNumber];

                                                        //todo: Hole die Ortsdaten mit Hilfe der Id's "departurePosition" and "arrivalPosition"
                                                        if (tempSegment) {

                                                            var departureObject = window.extraPostsToGoEuro[i].positions[tempSegment.departurePosition]; //AbfahrtObjekt
                                                            var arrivalObject = window.extraPostsToGoEuro[i].positions[tempSegment.arrivalPosition];//Ankunftsobjekt

                                                            if (!departureObject) {
                                                                console.log(key + "_" + i);
                                                            }

                                                            if (!arrivalObject) {
                                                                console.log(key + "_" + i);
                                                            }

                                                            var departureObjectLatitude = departureObject ? (departureObject.latitude ? departureObject.latitude : "") : "";
                                                            var departureObjectLongitude = departureObject ? (departureObject.longitude ? departureObject.longitude : "") : "";

                                                            var arrivalObjectLatitude = (arrivalObject ? (arrivalObject.latitude ? arrivalObject.latitude : "") : "");
                                                            var arrivalObjectLongitude = (arrivalObject ? (arrivalObject.longitude ? arrivalObject.longitude : "") : "");
                                                            var bla1 = window.extraPostsToGoEuro[i].companies[tempSegment.company] ? window.extraPostsToGoEuro[i].companies[tempSegment.company].name : "";
                                                            var bla1 = window.extraPostsToGoEuro[i].companies[tempSegment.company] ? window.extraPostsToGoEuro[i].companies[tempSegment.company].logoUrl.replace("{size}", 42) : "";

                                                            segmentsHtml +=
                                                         `
<h2>Segment-Nr.: `+ (s + 1) + `</h2>
<table class ="table table-hover">
    <thead>
      <tr>
        <th>Beschreibung</th>
        <th>Abfahrt</th>
        <th>Ankunft</th>
      </tr>
    </thead>
    <tbody>
         <tr>
        <td>Abfahrt/Ankunft</td>
        <td> `+ (departureObject ? (departureObject.name ? departureObject.name : "-") : "-") + ` </td>
        <td> `+ (arrivalObject ? (arrivalObject.name ? arrivalObject.name : "-") : "-") + ` </td>
      </tr>
         <tr>
        <td>Stadtname</td>
        <td> `+ (departureObject ? (departureObject.cityName ? departureObject.cityName : "-") : "-") + ` </td>
        <td> `+ (arrivalObject ? (arrivalObject.cityName ? arrivalObject.cityName : "-") : "-") + ` </td>
      </tr>
           <tr>
        <td>Unternehmen</td>
        <td colspan="2"> `+ (tempSegment.company ? ` <img alt= '` + bla1 + `' src='" +bla2 + "' height='20' /> ` : "-") + ` </td>
      </tr>
      <tr>
        <td>Dauer</td>
        <td colspan="2"> `+ (tempSegment.duration ? "~" + Math.round(tempSegment.duration / 60) + " h" : "-") + ` </td>
      </tr>
          <tr>
        <td>Abfahrtszeit</td>
        <td colspan="2"> `+ (tempSegment.departureTime ? new Date(tempSegment.departureTime).toLocaleString() + " Uhr" : "-") + ` </td>
      </tr>
              <tr>
        <td>Ankunftszeit</td>
        <td colspan="2"> `+ (tempSegment.arrivalTime ? new Date(tempSegment.arrivalTime).toLocaleString() + " Uhr" : "-") + ` </td>
      </tr>
      `+ (departureObject ?

                                                      `
      <tr>
               <td>Maps</td>
               <td colspan="2">
               <img src= "http://gothere.sg/maps/staticmap?center=%22orchardroad%22&zoom=15&size=400x300&markers=%22wismaatria%22,greena%7C`+ departureObjectLatitude + `,` + departureObjectLongitude + `,midpinkb%7C%22heeren%22,smallred&sensor=false" />
                <br/>
              <a href= "https://www.openstreetmap.org/?mlat=` + departureObjectLatitude + `&mlon=` + departureObjectLongitude + `#map=9/` + departureObjectLatitude + `/` + departureObjectLongitude + `" target="_blank" >  openstreetmaps </a>
               <br/>
              <a href= "http://maps.google.com/maps?q=` + departureObjectLatitude + `,` + departureObjectLongitude + `" target="_blank" >  GoogleMaps </a>
               </td>
        </tr>
     `
                                                       :

                                                       `
        <tr>
           <td>Maps</td>
           <td colspan="2">
           <img src= "http://gothere.sg/maps/staticmap?center=%22orchardroad%22&zoom=15&size=400x300&markers=%22wismaatria%22,greena%7C`+ arrivalObjectLatitude + `,` + arrivalObjectLongitude + `,midpinkb%7C%22heeren%22,smallred&sensor=false" />
           <br/>
             <a href= "https://www.openstreetmap.org/?mlat=` + arrivalObjectLatitude + `&mlon=` + arrivalObjectLongitude + `#map=9/` + arrivalObjectLatitude + `/` + arrivalObjectLongitude + `" target="_blank" >  openstreetmaps </a>
              <br/>
              <a href= "http://maps.google.com/maps?q=` + arrivalObjectLatitude + `,` + arrivalObjectLongitude + `" target="_blank" >  GoogleMaps </a>
           </td>
        </tr>
      `
                                                       ) + `

  <tr>
        <td>Maps</td>
        <td> <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src= "https://www.openstreetmap.org/?mlat=` + departureObjectLatitude + `&mlon=` + departureObjectLongitude + `#map=9/` + departureObjectLatitude + `/` + departureObjectLongitude + `" style="border: 1px solid black"></iframe></td>
        <td> <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src= "https://www.openstreetmap.org/?mlat=` + arrivalObjectLatitude + `&mlon=` + arrivalObjectLongitude + `#map=9/` + arrivalObjectLatitude + `/` + arrivalObjectLongitude + `" style="border: 1px solid black"></iframe></td>
       </tr>
      <tr>
        <td>latitude</td>
        <td> `+ (departureObject ? (departureObject.latitude ? departureObject.latitude : "-") : "-") + ` </td>
        <td> `+ (arrivalObject ? (arrivalObject.latitude ? arrivalObject.latitude : "-") : "-") + ` </td>
      </tr>
         <tr>
        <td>longitude</td>
        <td> `+ (departureObject ? (departureObject.longitude ? departureObject.longitude : "-") : "-") + ` </td>
        <td> `+ (arrivalObject ? (arrivalObject.longitude ? arrivalObject.longitude : "-") : "-") + ` </td>
      </tr>
            <tr>
        <td>Extra</td>
        <td colspan="2"> `+ (tempSegment.extraInfo ? tempSegment.extraInfo.price : "-") + ` </td>
      </tr>
        <tr>
        <td>Extra</td>
        <td colspan="2"> `+ (tempSegment.extraInfo ? tempSegment.extraInfo.schedule : "-") + ` </td>
      </tr>
        <tr>
        <td>Extra</td>
        <td colspan="2"> `+ (tempSegment.extraInfo ? tempSegment.extraInfo.description : "-") + ` </td>
      </tr>
          <tr>
        <td>OvernightOffset</td>
        <td colspan="2"> `+ (tempSegment.overnightOffset ? tempSegment.overnightOffset : "-") + ` </td>
      </tr>
        <tr>
        <td>ArrivalOvernightOffset</td>
        <td colspan="2"> `+ (tempSegment.arrivalOvernightOffset ? tempSegment.arrivalOvernightOffset : "-") + ` </td>
      </tr>
                                                        <tr>
        <td>Richtung</td>
        <td colspan="2"> `+ (tempSegment.direction ? tempSegment.direction : "-") + ` </td>
      </tr>
        <tr>
        <td>Art</td>
        <td colspan="2"> `+ (tempSegment.type ? tempSegment.type : "-") + ` </td>
      </tr>
    </tbody>
  </table>
 </br>
`;

                                                            console.log("data_" + i + "_key_" + key + "_segment_" + s);

                                                        }


                                                    }

                                                    window.modalView[i] =
                                                        () => {
                                                            $("#segments .modal-body").html(segmentsHtml);
                                                            $("#segments").modal('show');
                                                        }
                                                }


                                                tempDatensatz.push(mySegments ? '<button class="btn btn-success" onclick="window.modalView[' + i + ']()" type="button">klicken</button>' : "");
                                                tempDatensatz.push(mySegments ? '<a href="http://www.goeuro.com/travel-search2/results/' + window.extraPostsToGoEuro[i].query.searchId + '" target="_blank">goeuro.com</a>' : "");


                                                dataSet.push(tempDatensatz);

                                            }

                                        }
                                    }
                                    //Alle Daten
                                    //window.extraPostsToGoEuro
                                    window.dataSet = dataSet;

                                    table.clear();
                                    table.rows.add(dataSet);
                                    table.draw();

                                    box.text(box.text() + "# Erstelle Tabelle. " + "\n");

                                }

                            }





                        }
                        , error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.error(errorThrown);
                            box.text(box.text() + "[Fehler] - Anfrage an meinen Server gescheitert. " + "\n");
                        }
                    });
                    //Click-Ende
                });

                $('#datatables_grid').DataTable({
                    columns: [
                        { title: "Wem?" },
                        { title: "Womit?" },
                        { title: "Dauer?" },
                        { title: "outboundId" },
                        { title: "journeyId" },
                        { title: "Start" },
                        { title: "Ende" },
                        { title: "Stops" },
                        { title: "Preis" },
                        { title: "updatedAt" },
                        { title: "Segmente" },
                        { title: "goEuro.com" }

                        //,
                        //{ title: "arrivalOvernightOffset" },
                        //{ title: "overnightOffset" }

                        //,
                        //{ title: "Preis" },
                        //{ title: "Modus" }

                    ]
                    //,
                    //dom: 'Bfrtip',
                    //buttons: [
                    //    'copy', 'csv', 'excel', 'pdf', 'print'
                    //]
                });
                //Jquery-Ende

            } catch (e) {
                console.log(e);
            }
        });
    </script>
}
